:root {
    --accent-blue: #2196f3;
    --accent-background: #2f303a;
    --black: #000;
    --black-heading: #212121;
    --font: "Roboto", Arial, sans-serif;
    --font-logo: "Raleway", Arial, sans-serif;
    --grey: #757575;
    --main-color: #f5f4fa;
    --white: #fff;
  }
  .active {
    color: var(--accent-blue);
  }
  .black-heading {
    color: var(--black-heading);
  }
  .blue {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
  }
  body {
    background-color: var(--white);
    color: var(--black-heading);
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
  }
  .contact {
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .contact:hover,
  .contact:focus {
    color: var(--accent-blue);
  }
  .contacts {
    background-color: var(--accent-background);
  }
  .feature-about {
    color: var(--grey);
    letter-spacing: 0.03em;
  }
  .feature-name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .grey {
    color: var(--grey);
  }
  .heading {
    background-color: var(--accent-background);
    text-align: center;
  }
  .heading-name {
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hidden {
    opacity: 0;
  }
  .link {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .link:hover,
  .link:focus {
    color: var(--accent-blue);
  }
  .list {
    list-style: none;
  }
  .logo-header {
    color: var(--black);
    font-family: var(--font-logo);
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
  }
  .logo-footer {
    display: block;
    color: var(--white);
    font-size: 26px;
    font-weight: 700;
    font-family: var(--font-logo);
    text-decoration: none;
  }
  .nav-item {
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .nav-item:hover,
  .nav-item:focus {
    color: var(--accent-blue);
  }
  .main-color {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  .menu-btn {
    border-radius: 4px;
  }
  .menu-btn:hover,
  .menu-btn:focus {
    color: var(--white);
    background-color: var(--accent-blue);
}
  .order-btn {
    background-color: var(--accent-blue);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.9;
  }
  .project {
    background: var(--white);
    border: 1px solid var(--white);
    box-sizing: border-box;
  }
  .project-name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 2;
  }
  .project-type {
    color: var(--grey);
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  .sec-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
  .sec-heading-img {
    height: 294px;
    width: 370px;
  }
  .team-img {
    height: 260px;
    width: 270px;
  }
  .team-name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team-prof {
    color: var(--grey);
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .white {
    color: var(--white);
  }
  