:root {
    --accent-blue: #2196f3;
    --accent-background: #2f303a;
    --black: #000;
    --black-heading: #212121;
    --font: "Roboto", Arial, sans-serif;
    --font-logo: "Raleway", Arial, sans-serif;
    --grey: #757575;
    --main-color: #f5f4fa;
    --white: #fff;
  }
  .active {
    color: var(--accent-blue);
  }
  .black-heading {
    color: var(--black-heading);
  }
  .blue {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
  }
  .body {
    font-family: var(--font);
  }
  .contact {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-decoration: none;
  }
  .contacts {
    background-color: var(--accent-background);
  }
  .feature-about {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    left: 515px;
    letter-spacing: 0.03em;
    line-height: 24px;
    top: 800px;
    width: 270px;
  }
  .feature-name {
    color: var(--black-heading);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 16.41px;
  }
  .first-name {
    color: var(--black-heading);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 16.41px;
  }
  .first-about {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 24px;
  }
  .grey {
    color: var(--grey);
  }
  .heading {
    background-color: var(--accent-background);
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 60px;
    text-align: center;
  }
  .hidden {
    opacity: 0;
  }
  .link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 21px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 231px;
  }
  .link:hover,
  .link:focus {
    color: var(--white);
  }
  .list {
    list-style: none;
  }
  .logo {
    font-family: var(--font-logo);
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
  }
  .nav-item {
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .nav-item:hover,
  .nav-item:focus {
    color: var(--accent-blue);
  }
  .main-color {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  .menu-btn {
    border-radius: 4px;
    height: 38px;
    left: 957px;
    top: 174px;
    width: 130px;
  }
  .menu-btn-text {
    color: var(--black-heading);
    font-size: 16px;
    font-weight: 500;
    height: 26px;
    left: 868px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: center;
    top: 180px;
    width: 59px;
  }
  .order-btn {
    background-color: var(--accent-blue);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    left: 692px;
    letter-spacing: 0.06em;
    line-height: 1.9;
    top: 430px;
    width: 216px;
  }
  .project {
    background: var(--white);
    border: 1px solid var(--white);
    box-sizing: border-box;
    height: 404px;
    left: 215px;
    top: 262px;
    width: 370px;
  }
  .project-img {
    height: 294px;
    left: 215px;
    top: 262px;
    width: 370px;
  }
  .project-name {
    color: var(--black-heading);
    font-size: 18px;
    font-weight: 700;
    height: 36px;
    left: 239px;
    letter-spacing: 0.06em;
    line-height: 36px;
    top: 576px;
    width: 322px;
  }
  .project-type {
    color: var(--grey);
    font-size: 16px;
    height: 30px;
    left: 639px;
    letter-spacing: 0.03em;
    line-height: 30px;
    top: 616px;
    width: 322px;
  }
  .sec-heading {
    color: var(--black-heading);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
  .sec-heading-img {
    height: 294px;
    left: 215px;
    top: 1058px;
    width: 370px;
  }
  .team-img {
    height: 260px;
    left: 515px;
    top: 1632px;
    width: 270px;
  }
  .team-name {
    color: var(--black-heading);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 18.75px;
    text-align: center;
  }
  .team-prof {
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 18.75px;
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .white {
    color: var(--white);
  }
  